<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js "></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>ToDo List</h1>
		<div id="app">
			
			<input-todo></input-todo>
			<table-todo :todos="tasks"></table-todo>
		</div>
	</div>

	<template id="input-todo" >
		<input type="text" v-on:keyup.enter ="add" placeholder ="O que precisa ser feito?" >
	</template>

	<template id="table-todo" >
		<table class="table">
			<thead>
				<tr><th scope="col">Status</th>
				<th scope="col">#</th>
				<th scope="col">Atividade</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(todo,index) in todos">
					<td><input type="checkbox" v-model="todo.checked" ></td>
					<th scope="row">{{index+1}} </th>
					<td v-if="todo.checked" >
						<span style="text-decoration:line-through; color:red">{{todo.value}} </span>
					</td>
					<td v-else>
						<span>{{todo.value}} </span>
					</td>
				</tr>
			</tbody>
		</table>
	</template>
	
	<script>
		let tasks = [];
		Vue.component( 'input-todo' , {
			template: "#input-todo" ,
			methods: {
				add($event) {
					let task = {};
					task.value = $event.target.value;
					task.checked = false;
					tasks.push(task);
				},
			}
		});

		Vue.component( 'table-todo' , {
			template: "#table-todo" ,
			props: ['todos'],
		});

		var app = new Vue({
			el: "#app",
			data:{
				tasks:tasks,
			}
		});
	</script>

</body>
</html>